node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
*.md
# Credenciales incluidas explicitamente (unsafe)
# /storage/services/google/*.json
# neat-episode-*.json
